---
# Docker Swarm Cluster Inventory
# References image-factory inventory for base configuration
all:
  children:
    swarm:
      children:
        swarm_managers:
          hosts:
            swarm-pi5-01:
              ansible_host: 172.16.15.13
              ansible_user: packer
              target_hostname: swarm-pi5-01
              static_ip: 172.16.15.13/24
              storage_ip: 172.16.30.13/24
              swarm_role: manager
              swarm_join_token: null  # Will be set after first manager init
            swarm-pi5-02:
              ansible_host: 172.16.15.14
              ansible_user: packer
              target_hostname: swarm-pi5-02
              static_ip: 172.16.15.14/24
              storage_ip: 172.16.30.14/24
              swarm_role: manager
              swarm_join_token: null
            swarm-pi5-03:
              ansible_host: 172.16.15.15
              ansible_user: packer
              target_hostname: swarm-pi5-03
              static_ip: 172.16.15.15/24
              storage_ip: 172.16.30.14/24
              swarm_role: manager
              swarm_join_token: null
        swarm_workers:
          hosts:
            swarm-pi5-04:
              ansible_host: 172.16.15.16
              ansible_user: packer
              target_hostname: swarm-pi5-04
              static_ip: 172.16.15.16/24
              storage_ip: 172.16.30.16/24
              production_ip: 172.16.10.16/24
              swarm_role: worker
              swarm_join_token: null
      vars:
        is_raspberry_pi: true
        ansible_python_interpreter: /usr/bin/python3
        network_gateway: 172.16.15.1
        network_dns_servers:
          - 172.16.15.1
          - 1.1.1.1
        # Docker Swarm configuration
        swarm_advertise_addr: "{{ ansible_default_ipv4.address }}"
        swarm_listen_addr: "0.0.0.0:2377"
        # Network VLANs for multi-homed Traefik
        swarm_vlans:
          - id: 5
            name: family
            subnet: 172.16.5.0/24
          - id: 10
            name: production
            subnet: 172.16.10.0/24
          - id: 15
            name: mgmt
            subnet: 172.16.15.0/24
          - id: 40
            name: dmz
            subnet: 172.16.40.0/24
          - id: 101
            name: guest
            subnet: 172.16.101.0/24

